@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.menu{
    display: flex;
    background-color: black;
    padding: 15px 10%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin-bottom: 25px;
}

.menu div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.menu p{
    padding: 0 20px;
}

.menu p a:hover{
    color: rgb(165, 0, 0);
}

.menu h1 a:hover{
    color: rgb(165, 0, 0);
}

body{
    background-color: #222;
    color: white;
}

h1.title{
    font-size: 2.5em;
    padding: 10px;
    
}


.movies{
    display: grid;
    width: fit-content;
    padding: 20px;
    margin: auto;
    grid-column-gap: 20px;
    grid-row-gap: 2em;
    height: fit-content;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 200px;
}

.movie{
    text-align: center;
}

.movie-img-large{
    height: 100%;
    width: 75%;
    overflow: hidden;

}

.movie-img-large img{
    width: 100%;
    height: 100%;
}

.movie-img{
    height: 80%;
    width: 100%;
    overflow: hidden;

}

.movie-img img{
    width: 100%;
    height: 100%;
}

.movie-name{
    float: bottom;
}

.content{
    width: 25%;
    height: 100%;
    margin-bottom: 100px;
    padding: 10px;
}

.content h1{
    font-size: 4em;
}

.content p{
    margin-top: 20px;
}

.movie-container{
    display: flex;
    justify-content: space-between;
    height: 55vh;
    width: 100%;
}

.movie-info{
    float: left;
    width: 50%;
}

.movieimg{
    height: 100%;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 10px;
    float: right;
}

.movie-specs{
    margin-top: 20px;
}

.top-picks{
    margin: auto;
    display: flex;
    width: fit-content;
    background-color: #333;
    padding: 10px;
}

.top-pick{
    height: 150px;
    margin: 20px 20px 0 20px;
    width: 200px;
}

.top-picks-container{
    text-align: center;

}

.content-container{
    padding: 30px 10%;

}

.movie:hover p{
    color: rgb(165, 0, 0);
}

.search-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control{
    width: 100%;
    padding: 7px;
    border-radius: 0px;
    background-color: #111;
    border: none;
    font-size: 1em;
}

.form-control:focus{
    background-color: #333;
}

.submit{
    font-size: 0.75em;
    border: none;
    border-left: 1px solid rgb(165, 0, 0);
    border-radius: 1px;
    background-color: rgb(165, 0, 0);
    padding: 10px;
    color: white;
}

.browse-container{
    width: fit-content;
    margin: auto;
}


.form-field input{
    width: 50%;
    padding: 7px;
    border-radius: 0px;
    background-color: #111;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #222;
    font-size: 1em;

}

.reviews-grid{
    display: grid;
    grid-template-columns: auto;

}

.review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    min-height: 150px;
    background-color: #333;
}

.review:nth-child(odd){
    background-color: #111;
    
}

.review-title{
    display: flex;
    align-items: baseline;
}

.review-title p{
    font-size: 0.75em;
    margin-right:5px;
}

.review-footer p{
    font-size: 0.75em;
}

.custom-select select{
    padding: 10px;
    background-color: transparent;
    border: none;


}
.custom-select select option{
    color: #111;
}

.search-form{
    margin-bottom: 10px;
}

.search-settings{
    margin-bottom: 10px;
}

.search-settings ul{
    width: 100%;
    display: flex;
    justify-content: left;
}

li{
    float: left;
    margin-right: 20px;
}

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
}

.pagenums{
    margin: 50px;
}

.pagenum {
    text-decoration-line: underline;
    padding: 2px;
}

.pagenum:hover{
    color: rgb(165, 0, 0);
}

.curr-pagenum{
    font-size: 1em;
    color: rgb(165, 0, 0);
}

.form{
    margin-bottom: 50px;
}

.prevnext{
    font-size: 1em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(165, 0, 0);
    padding: 10px;
    color: white;
}

.remove-watchlist{
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: rgb(165, 0, 0);
    cursor: pointer;
}

.remove-watchlist:hover{
    color: rgb(130, 0, 0);
}
 
.movie-box {
    text-align: center;
}