{% extends 'base.html' %}

{% block body %}

<div class="browse-container">
    <p style="font-size: 0.75em; color: grey; margin-bottom: 5px;">Search by:</p>
    <form class="form" action="/movies/browse" method="post">
        <div class="search-settings">
            {{ form.search_settings }}
        </div>
        <div class="search-form">
            {{ form.search(class_="form-control") }}
            {{ form.csrf_token }}
        </div>
        
        <input class="submit" type="submit" value="Submit">
    </form>
    {% for category in categories %}
    <div class="top-picks-container">
        <h2 style="float: left;">{{ categories[category][1] }}</h2>
        <div style="margin-bottom: 50px;" class="top-picks">
            {% for movie in categories[category][0][:5] %}
            <a class="top-pick movie" href="{{ url_for('movies_bp.view_movie', movie_id=movie.id) }}">
                <div class="movie-img">
                    <img src="{{ movie.image_url }}" alt="Unable to load image">
                </div>
                <p class="movie-name">{{ movie.title }} &lt;{{ movie.release_year }}&gt;</p>
            </a>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>



{% endblock %}