{% extends 'base.html' %}

{% block body %}
<h1>Review for {{ movie.title }}, {{ movie.release_year }} </h1>
<form class="review-form" method="POST">
    {{ form.movie }}
    {{form.csrf_token}}
    <div class="review-form">
        {{ form.review(class_="form-control") }}
        <div class="custom-select">
           Rating: {{ form.rating }}
        </div>
        {% if form.review.errors %}
        <ul class="errors">
        {% for error in form.review.errors %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
    {{ form.submit(class_="submit") }}
</form>

{% endblock %}